.todos-sidebar {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-user-context {
  width: 48px;
  height: 48px;
  background-color: #abb0bf;
  border-radius: 50%;
}

.todos-sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.sidebar-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.sidebar-text {
  font-size: 12px;
}

.select-sidebar-work {
  background-color: #ffffff;
  color: #0039a7;
  font-weight: 700;
  margin-left: 20px;
}

.select-sidebar-work > div {
  background-color: #f2f5fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.select-sidebar-work .sidebar-text {
  margin-right: 20px;
}

.select-sidebar-work .sidebar-icon {
  margin-bottom: 12px;
  margin-right: 20px;
}
