.todos-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 694px;
  background-color: #e7eaf4;
}

.detail-context {
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.detail-textarea {
  margin-left: 80px;
  z-index: 1;
}

.detail-list {
  background-color: #ffffff;
  border-radius: 10px;
  width: 630px;
  padding: 20px 10px;
}

.detail-flexbox {
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}

.detail-flexbox:not(:last-child) {
  margin-bottom: 15px;
}

.detail-flexbox > div {
  margin-right: 10px;
  font-size: 10px;
}

.detail-flexbox > div:nth-child(2) {
  text-align: center;

  font-size: 3px;
  cursor: pointer;
}
